.catd-slid
{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;   
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    border-radius: 12px;  
    transition: all 1s; 

}
.catd-slid:hover
{
        transform: rotate(30deg);
        box-shadow: 2px 2px 10px black;
}
.slid-icon
{
    display: flex;
    justify-content: space-between;  
    padding-top: 10px;    
}
.question i
{
    font-size: 40px;
    margin-top: 10px;      
}
.catd-slid img
{
    width: 40%; 
    border-radius: 12px;
    padding-bottom: 5px;
}
.slide-sec
{
     overflow: hidden;
     background-color: #f1f1f1; 
     padding-top: 50px; 
}
.slide-sec p
{
   color: #777;
}
.star
{
  color: gold;        
}